<div class="list">
  <input name="task"
         [ngClass]="getInputClass()"
         (focus)="focusInput()"
         (blur)="inputAwayFocus()"
         (input)="editInput($event)"
         [value]="task">
  <button [ngStyle]="{height: '27px'}" (click)="deleteInput()">Delete</button>
</div>

