<form class="form">
  <label>Add new task<input name="task" [(ngModel)]="task">
    <button (click)="addTask($event)" [disabled]="formIsEmpty()">Add</button></label>
</form>
<hr>

<app-task
  *ngFor="let task of toDoList; let i = index"
  [task]="task.task"
  (delete)="deleteTask(i)"
  (taskChange)="changeTask(i, $event)"
></app-task>
